

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Event</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <!--  <link href="img/favicon.png" rel="icon">-->
    <!--  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">-->
    {% load static %}
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800"
          rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="{% static 'static_home/news_static/lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="{% static 'static_home/news_static/lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'static_home/news_static/lib/animate/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'static_home/news_static/lib/venobox/venobox.css' %}" rel="stylesheet">
    <link href="{% static 'static_home/news_static/lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="{% static 'static_home/css/news.css' %}" rel="stylesheet">

    <!-- =======================================================
      Theme Name: TheEvent
      Theme URL: https://bootstrapmade.com/theevent-conference-event-bootstrap-template/
      Author: BootstrapMade.com
      License: https://bootstrapmade.com/license/
    ======================================================= -->
</head>

<body>

<!--==========================
  Header
============================-->
<header id="header">
    <div class="container">

        <div id="logo" class="pull-left">
            <!-- Uncomment below if you prefer to use a text logo -->
            <!-- <h1><a href="#main">C<span>o</span>nf</a></h1>-->
<!--            <a href="#intro" class="scrollto"><img src="img/logo.png" alt="" title=""></a>-->
        </div>

<!--        <nav id="nav-menu-container">-->
<!--            <ul class="nav-menu">-->
<!--                <li class="menu-active"><a href="#intro">Home</a></li>-->
<!--                <li><a href="#about">About</a></li>-->
<!--                <li><a href="#speakers">Speakers</a></li>-->
<!--                <li><a href="#contact">Contact</a></li>-->
<!--                <li class="buy-tickets"><a href="#buy-tickets">Buy Tickets</a></li>&ndash;&gt;-->
<!--            </ul>-->
<!--        </nav>&lt;!&ndash; #nav-menu-container &ndash;&gt;-->
    </div>
</header><!-- #header -->

<!--==========================
  Intro Section
============================-->
<!--<section id="intro">-->
<!--    <div class="intro-container wow fadeIn">-->
<!--        <h1 class="mb-4 pb-0">The Annual<br><span>Marketing</span> Conference</h1>-->
<!--        <p class="mb-4 pb-0">10-12 December, Downtown Conference Center, New York</p>-->
<!--        <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox play-btn mb-4" data-vbtype="video"-->
<!--           data-autoplay="true"></a>-->
<!--        <a href="#speakers" class="about-btn scrollto">About The Event</a>-->
<!--    </div>-->
<!--</section>-->

<!--<main id="main">-->


    <!--==========================
      Speakers Section
    ============================-->
    <section id="speakers" class="wow fadeInUp">

        <div class="container">

            <div class="section-header" style="margin-top:100px">
                <h2>Events</h2>
<!--                <p></p>-->
            </div>

            <div class="row">
               {% for event in events %}
                <div class="col-lg-4 col-md-6">
                   <div class="speaker">
    {% if event.event_img %}
        <img src="{{ event.event_img.url }}" alt="{{ event.name }}" class="img-fluid" style="height:250px; width:350px;">
    {% endif %}
    <div class="details">
        <h3><a href="{% url 'event_page' event.id %}">{{ event.name }}</a></h3>
        <p>{{ event.date }}</p>
    </div>
</div>

                </div>
                  {% endfor %}
            </div>


        </div>

    </section>


    <!-- Modal Order Form -->
    <div id="buy-ticket-modal" class="modal fade">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Buy Tickets</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="POST" action="#">
                        <div class="form-group">
                            <input type="text" class="form-control" name="your-name" placeholder="Your Name">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="your-email" placeholder="Your Email">
                        </div>
                        <div class="form-group">
                            <select id="ticket-type" name="ticket-type" class="form-control">
                                <option value="">-- Select Your Ticket Type --</option>
                                <option value="standard-access">Standard Access</option>
                                <option value="pro-access">Pro Access</option>
                                <option value="premium-access">Premium Access</option>
                            </select>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn">Buy Now</button>
                        </div>
                    </form>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    </section>

    <!--==========================
      Contact Section
    ============================-->
    <section id="contact" class="section-bg wow fadeInUp">

        <div class="container">

<!--            <div class="section-header">-->
<!--                <h2>Contact Us</h2>-->
<!--                <p>Nihil officia ut sint molestiae tenetur.</p>-->
<!--            </div>-->

            <div class="row contact-info">

<!--                <div class="col-md-4">-->
<!--                    <div class="contact-address">-->
<!--                        <i class="ion-ios-location-outline"></i>-->
<!--                        <h3>Address</h3>-->
<!--                        <address>A108 Adam Street, NY 535022, USA</address>-->
<!--                    </div>-->
<!--                </div>-->

<!--                <div class="col-md-4">-->
<!--                    <div class="contact-phone">-->
<!--                        <i class="ion-ios-telephone-outline"></i>-->
<!--                        <h3>Phone Number</h3>-->
<!--                        <p><a href="tel:+155895548855">+1 5589 55488 55</a></p>-->
<!--                    </div>-->
<!--                </div>-->

<!--                <div class="col-md-4">-->
<!--                    <div class="contact-email">-->
<!--                        <i class="ion-ios-email-outline"></i>-->
<!--                        <h3>Email</h3>-->
<!--                        <p><a href="mailto:info@example.com">info@example.com</a></p>-->
<!--                    </div>-->
<!--                </div>-->

            </div>

<!--            <div class="form">-->
<!--                <div id="sendmessage">Your message has been sent. Thank you!</div>-->
<!--                <div id="errormessage"></div>-->
<!--                <form action="" method="post" role="form" class="contactForm">-->
<!--                    <div class="form-row">-->
<!--                        <div class="form-group col-md-6">-->
<!--                            <input type="text" name="name" class="form-control" id="name" placeholder="Your Name"-->
<!--                                   data-rule="minlen:4" data-msg="Please enter at least 4 chars"/>-->
<!--                            <div class="validation"></div>-->
<!--                        </div>-->
<!--                        <div class="form-group col-md-6">-->
<!--                            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email"-->
<!--                                   data-rule="email" data-msg="Please enter a valid email"/>-->
<!--                            <div class="validation"></div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="form-group">-->
<!--                        <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject"-->
<!--                               data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject"/>-->
<!--                        <div class="validation"></div>-->
<!--                    </div>-->
<!--                    <div class="form-group">-->
<!--                        <textarea class="form-control" name="message" rows="5" data-rule="required"-->
<!--                                  data-msg="Please write something for us" placeholder="Message"></textarea>-->
<!--                        <div class="validation"></div>-->
<!--                    </div>-->
<!--                    <div class="text-center">-->
<!--                        <button type="submit">Send Message</button>-->
<!--                    </div>-->
<!--                </form>-->
<!--            </div>-->

        </div>
    </section><!-- #contact -->

</main>


<!--==========================
  Footer
============================-->
<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6 footer-info">
                    <h2>PNG</h2>
                    <p>We aim to create an inclusive ecosystem that empowers individuals and organizations to
                       achieve sustainable growth, unlock new opportunities, and form long-lasting partnerships.</p>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><i class="fa fa-angle-right"></i> <a href="#">Home</a></li>
                        <li><i class="fa fa-angle-right"></i> <a href="#">About us</a></li>
                        <li><i class="fa fa-angle-right"></i> <a href="#">Services</a></li>
                        <li><i class="fa fa-angle-right"></i> <a href="#">Terms of service</a></li>
                        <li><i class="fa fa-angle-right"></i> <a href="#">Privacy policy</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Our services</h4>
                    <ul>
                        <li><i class="fa fa-angle-right"></i> Regular Networking Meetups</li>
                        <li><i class="fa fa-angle-right"></i> Workshops & Seminars</li>
                        <li><i class="fa fa-angle-right"></i> Collaborative Opportunities</li>
                        <li><i class="fa fa-angle-right"></i> Marketing</li>
                        <li><i class="fa fa-angle-right"></i> Referral Programs</li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-contact">
                    <h4>Contact Us</h4>
                    <p>
                        Chennai <br>
                        New York, NY 535022<br>
                        United States <br>
                        <strong>Phone:</strong> +91 94442 46652<br>
                        <strong>Email:</strong> pngmeetup@gmail.com<br>
                    </p>

                    <div class="social-links">
                        <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                        <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                        <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong>TheEvent</strong>. All Rights Reserved
        </div>
        <div class="credits">
            <!--
              All the links in the footer should remain intact.
              You can delete the links only if you purchased the pro version.
              Licensing information: https://bootstrapmade.com/license/
              Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=TheEvent
            -->
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
    </div>
</footer><!-- #footer -->

<a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>

<!-- JavaScript Libraries -->
<script src="{% static 'static_home/news_static/lib/jquery/jquery.min.js' %}"></script>
<script src="{% static 'static_home/news_static/lib/jquery/jquery-migrate.min.js' %}"></script>
<script src="{% static 'static_home/news_static/lib/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'static_home/news_static/lib/easing/easing.min.js' %}"></script>
<script src="{% static 'static_home/news_static/lib/superfish/hoverIntent.js' %}"></script>
<script src="{% static 'static_home/news_static/lib/superfish/superfish.min.js' %}"></script>
<script src="{% static 'static_home/news_static/lib/wow/wow.min.js' %}"></script>
<script src="{% static 'static_home/news_static/lib/venobox/venobox.min.js' %}"></script>
<script src="{% static 'static_home/news_static/lib/owlcarousel/owl.carousel.min.js' %}"></script>

<!-- Contact Form JavaScript File -->
<script src="{% static 'static_home/news_static/contactform/contactform.js' %}"></script>

<!-- Template Main Javascript File -->
<script src="{% static 'static_home/js/news.js' %}"></script>
</body>

</html>
